{% extends "base.html" %}

{% block page_title %}Signup{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <form method="post" action="/signup" class="auth-frm">
                    <h1>Create an account</h1>
                    <input type="text" name="username" value="{{ username }}" placeholder="enter your username" class="pass">
                    <div class="error">{{ error_username }}</div>

                    <input type="password" name="password" placeholder="enter your password" class="pass">
                    <div class="error">{{ error_password }}</div>

                    <input type="password" name="verify" placeholder="reenter your password" class="pass">
                    <div class="error">{{ error_verify_password }}</div>

                    <input type="text" name="email" value="{{ email }}" placeholder="enter your email (optional)" class="pass">
                    <div class="error">{{ error_email }}</div>

                    <input type="submit" value="Sign up" class="btn-frm btn-frm-go"/>
                </form>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="signin-lnk">
                    <h1>...or</h1>
                    <a href="/signin" class="btn-frm btn-frm-go">Sign in</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}